<nav
  class="h-16 border-b-2 border-primary-700 flex items-center"
  role="navigation"
>
  <div class="container flex justify-between items-center center">
    <a
      href="{{ .Site.Home.RelPermalink }}"
      class="f3 fw2 hover-white no-underline white-90 dib"
    >
      {{ with .Site.Params.site_logo }}
      <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }} {{ .Site.Title }} {{ end }}
    </a>
    <div class="flex items-center">
      {{ partial "i18nlist.html" . }} {{ if .Site.Menus.main }}
      <ul class="flex space-x-6">
        {{ range .Site.Menus.main }}
        <li>
          <a
            class="hover-white no-underline white-90"
            href="{{ .URL }}"
            title="{{ .Name }} page"
          >
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</nav>
