<div class="relative w-full bg-white">
  <div class="bg-white p-4 overflow-hidden">
    <h1 class="text-2xl">
      <a href="{{ .Permalink }}" class=""> {{ .Title }} </a>
    </h1>
    <div class="">{{ .Summary }}</div>
  </div>
  <div class="bg-primary-100 py-2 px-4 flex justify-between">
    <span class="uppercase text-sm">{{ humanize .Section }}</span>
    <time class="text-sm text-neutral-700" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{- .Date.Format "January 2, 2006" -}}
    </time>
  </div>
</div>
